<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="{{- ( or .Params.color $.Site.Params.ThemeColor ) -}}">
{{ $containerThemeWidth := cond (eq $.Site.Params.ThemeWidth "full") "container full" (cond (eq $.Site.Params.ThemeWidth "wide") "container wide" "container") }}
{{ $containerThemeCenter :=  cond $.Site.Params.CenterTheme "center" "" }}

<div class="{{- $containerThemeWidth }} {{ $containerThemeCenter -}} {{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">

  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>

</body>
</html>
