code {
  color: var(--accent);
  border: 1px solid color-mix(in srgb, var(--foreground) 10%, transparent)
}

pre:not(.chroma),
.highlight {
  margin: 20px 0;
}

pre.chroma {
  color: var(--foreground);
}

pre code {
  color: var(--foreground);
  border: none;
}

.collapsable-code {
  position: relative;
  width: 100%;
  margin: 40px 0;

  .highlight {
    margin: 0;
  }
}

.collapsable-code__title {
  flex: 1;
  color: var(--accent);
  padding: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collapsable-code__language {
  color: var(--accent);
  border: 1px solid var(--accent);
  border-bottom: none;
  text-transform: uppercase;
  padding: 3px 10px;
}

.collapsable-code summary {
  border-bottom: 1px solid var(--accent);
  color: var(--accent);
  padding: 0 10px;
  cursor: pointer;
}

.collapsable-code summary:hover {
  background: color-mix(in srgb, var(--accent) 10%, transparent);
}

.collapsable-code summary::marker {
  content: "+";
  font-weight: bold;
}

.collapsable-code[open] summary::marker {
  content: "-";
}


.collapsable-code pre {
  margin-top: 0;
}

.collapsable-code pre::first-line {
  line-height: 0;
}

.chroma .copy-button {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: .5em;
  z-index: 1;
  background: color-mix(in srgb, var(--foreground) 5%, var(--background));
}

.chroma:hover .copy-button {
  display: inline-block;
}

.chroma .copy-button:hover {
  background: color-mix(in srgb, var(--accent) 10%, var(--background));
}
