.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: 0.65;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
}

.footer a {
  color: inherit;
}

.footer .copyright {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.footer .copyright--user {
  margin: auto;
  text-align: center;
}

.footer .copyright > *:first-child:not(:only-child) {
  margin-right: 10px;
}

.footer .copyright span {
  white-space: nowrap;
}

@media (max-width: 900px) {
  .footer__inner {
    flex-direction: column;
  }
}
