body .gist .gist-file {
    border: 1px solid var(--border-color);
    border-radius: 0;
}

body .gist .gist-data {
    border-radius: 0;
}

body .gist .gist-meta {
    border-radius: 0;
}

body .gist .highlight {
    background: var(--background);
}

body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2 /* punctuation.section.embedded source */,
body .gist .pl-stj /* storage.type.java */
{
    color: #f8f8f2;
    border: none;
    font-size: 1rem;
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
}

body .gist .pl-c1 /* constant */
{
    color: var(--accent)
}

body .gist .pl-enti /* entity.name.type.instance */
{
    color: var(--accent);
    font-weight: 700;
}


body .gist .pl-st /* support type */
{
    color: var(--accent);
}

body .gist .pl-mdr /* meta.diff.range */
{
    color: var(--accent);
    font-weight: 400;
}


body .gist .pl-ms1 {
    background: var(--accent);
}


body .gist .pl-c, /* punctuation.definition.comment */
body .gist .pl-c span,
body .gist .pl-pdc /* punctuation.definition.comment */
{
    color: hsla(0, 0%, 100%, .3);
    font-size: 1rem;
}

body .gist .pl-cce /* constant.character.escape */,
body .gist .pl-cn /* constant.numeric */,
body .gist .pl-coc /* constant.other.color */,
body .gist .pl-enc /* entity.name.class */,
body .gist .pl-ens /* entity.name.section */,
body .gist .pl-kos /* keyword.other.special-method */,
body .gist .pl-kou /* keyword.other.unit */,
body .gist .pl-mh .pl-pdh /* markup.heading punctuation.definition.heading */,
body .gist .pl-mp /* meta.property-name */,
body .gist .pl-mp1 .pl-sf /* meta.property-value support.function */,
body .gist .pl-mq /* markup.quote */,
body .gist .pl-pde /* punctuation.definition.entity */,
body .gist .pl-pse /* punctuation.section.embedded */,
body .gist .pl-pse .pl-s2 /* punctuation.section.embedded source */,
body .gist .pl-mp .pl-s3,
body .gist .pl-smi,
body .gist .pl-stp /* support.type.property-name */,
body .gist .pl-sv,
body .gist .pl-v /* variable */,
body .gist .pl-vi /* variable.interpolation */,
body .gist .pl-vpf /* variable.parameter.function */,
body .gist .pl-mri /* markup.raw.inline */,
body .gist .pl-va /* variable.assignment */,
body .gist .pl-vpu /* variable.parameter.url */
{
    color: var(--accent);
}

body .gist .pl-cos /* constant.other.symbol */,
body .gist .pl-ml /* markup.list */,
body .gist .pl-pds /* punctuation.definition.string */,
body .gist .pl-s /* storage */,
body .gist .pl-s1 /* string */,
body .gist .pl-sol /* string.other.link */
{
    color: var(--accent);
}

body .gist .pl-e /* entity */,
body .gist .pl-ef /* entity.function */,
body .gist .pl-en,
body .gist .pl-enf /* entity.name.function */,
body .gist .pl-enm /* entity.name.method-name */,
body .gist .pl-entc /* entity.name.type.class */,
body .gist .pl-entm /* entity.name.type.module */,
body .gist .pl-eoac /* entity.other.attribute-name.class */,
body .gist .pl-eoac .pl-pde /* punctuation.definition.entity */,
body .gist .pl-eoi /* punctuation.definition.entity */,
body .gist .pl-mai .pl-sf /* meta.at-rule.include support.function */,
body .gist .pl-mm /* meta.module-reference */,
body .gist .pl-pdv /* punctuation.definition.variable */,
body .gist .pl-som /* support.other.module */,
body .gist .pl-sr /* string.regexp */,
body .gist .pl-vo {
    color: rgb(163, 155, 148);
}

body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k /* keyword */,
body .gist .pl-ko /* keyword.operator */,
body .gist .pl-kolp /* keyword.operator.logical.python */,
body .gist .pl-mc /* markup.changed */,
body .gist .pl-mr /* meta.require */,
body .gist .pl-ms /* meta.selector */,
body .gist .pl-s3,
body .gist .pl-smc /* storage.modifier.c */,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
    color: var(--accent);
}

body .gist .pl-mb /* markup.bold */,
body .gist .pl-pdb /* punctuation.definition.bold */
{
    color: var(--accent);
    font-weight: 700;
}

body .gist .pl-mi,
body .gist .pl-pdi {
    color: var(--accent);
    font-style: italic;
}

body .gist .pl-pdc1 /* punctuation.definition.constant */,
body .gist .pl-scp /* support.constant.property-value */
{
    color: var(--accent);
}

body .gist .pl-sc /* support.class */,
body .gist .pl-sf /* meta.at-rule.include support.function */,
body .gist .pl-mo /* meta.output */,
body .gist .pl-entl /* entity.name.tag.label */
{
    color: var(--accent);
}

body .gist .pl-mi1 /* markup.inserted */,
body .gist .pl-mdht /* meta.diff.header.to-file */
{
    color: var(--accent);
    background: var(--background);
}

body .gist .pl-md /* markup.deleted */,
body .gist .pl-mdhf /* meta.diff.header.from-file */
{
    color: var(--accent);
    background: var(--background);
}

body .gist .pl-mdh /* meta.diff.header */,
body .gist .pl-mdi /* meta.diff.index */
{
    color: var(--accent);
    font-weight: 400;
}

body .gist .pl-ib /* invalid.broken */ ,
body .gist .pl-id /* invalid.deprecated */,
body .gist .pl-ii /* invalid.unimplemented */,
body .gist .pl-iu /* invalid.unimplemented */{
    background: var(--accent);
    color: #272822;
}


