.pagination {
  margin-top: 50px;
}

.pagination__title {
  display: flex;
  text-align: center;
  position: relative;
  margin: 100px 0 20px;
}

.pagination__title-h {
  text-align: center;
  margin: 0 auto;
  padding: 5px 10px;
  background: var(--background);
  color: color-mix(in srgb var(--foreground) 30%, transparent);
  font-size: calc(var(--font-size) * 0.8);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  z-index: 1;
}

.pagination__title hr {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 15px;
  z-index: 0;
}

.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}

.pagination__buttons a {
  display: inline-flex;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  padding: 0;
  appearance: none;
}

.button a {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 8px 16px;
}

.button__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.next .button__icon {
  margin-left: 8px;
}

.prev .button__icon {
  margin-right: 8px;
}

@media print {
  .pagination {
    display: none;
  }
}
