{{- $cover := false -}}
{{- $coverImg := false -}}
{{- $autoCover := default $.Site.Params.autoCover false -}}

{{- if index .Params "cover" -}}
  {{- if .Resources.GetMatch .Params.Cover -}}
    {{- $coverImg = (.Resources.GetMatch .Params.Cover) -}}
    {{- $cover = $coverImg.RelPermalink -}}
  {{- else -}}
    {{- $cover = relURL .Params.Cover -}}
  {{- end -}}
{{- else if $.Site.Params.AutoCover -}}
  {{- if (not .Params.Cover) -}}
    {{- if .Resources.GetMatch "cover.*" -}}
      {{- $coverImg = .Resources.GetMatch "cover.*" -}}
      {{- $cover = $coverImg.RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{if $cover -}}
<div class="post-cover">
  <img src="{{ $cover }}"
    alt="{{ .Title | plainify | default " " }}"
    title="{{ .Params.CoverCredit |plainify|default "Cover Image" }}"
    {{- if $coverImg -}}
    width="{{ $coverImg.Width }}"
    height="{{ $coverImg.Height }}"
    {{- end -}}
  />
</div>
{{- end -}}
