<footer class="footer">
  <div class="footer__inner">
    <div class="copyright">
      <p>
        <!-- Main footer ("copyright") section -->
        {{ partial "footer_copyright.html" . }}
      </p>
    </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section -->
{{ partial "extended_footer.html" . }}
