<nav class="navigation-menu">
  <ul class="navigation-menu__inner menu--desktop">
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <li>
          <ul class="menu">
            <li class="menu__trigger">{{ $.Site.Params.MenuMore }}&nbsp;▾</li>
            <li>
              <ul class="menu__dropdown">
                {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
                  {{ if not .HasChildren }}
                    <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </li>
          </ul>
        </li>
      {{ end }}
    {{ else }}
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}" {{ if .Params.NewTab -}} target="_blank" {{- end }}>{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>
