<ul class="menu menu--mobile">
  <li class="menu__trigger">Menu&nbsp;▾</li>
  <li>
    <ul class="menu__dropdown">
      {{ $currURL := absLangURL .Permalink | strings.TrimSuffix "/" }}
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          {{ $isCurrURL := eq $currURL (absLangURL .URL | strings.TrimSuffix "/") }}
          <li {{ if $isCurrURL }} class="menu__active" {{ end }}>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
        <hr />
        {{ $currLang := .Language.Lang }}
        {{ range $.Site.Home.AllTranslations }}
          {{ $isCurrLang := eq $currLang .Language.Lang }}
          <li {{ if $isCurrLang }} class="menu__active" {{ end }}>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
