<div class="pagination">
  <div class="pagination__buttons">
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}" class="button inline prev">
        &lt; [<span class="button__text">{{ $.Site.Params.newerPosts | default "Newer posts" }}</span>]
      </a>
    {{ end }}
    {{ if and .Paginator.HasPrev .Paginator.HasNext }}
      ::
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="button inline next">
        [<span class="button__text">{{ $.Site.Params.olderPosts | default "Older posts" }}</span>] &gt;
      </a>
    {{ end }}
  </div>
</div>
