{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
        <hr />
    </div>
    <div class="pagination__buttons">
        {{ if .NextInSection }}
        <span class="button previous">
            <a href="{{ .NextInSection.Permalink }}">
                <span class="button__icon">←</span>
                <span class="button__text">{{ .NextInSection.Title }}</span>
            </a>
        </span>
        {{ end }}
        {{ if .PrevInSection }}
        <span class="button next">
            <a href="{{ .PrevInSection.Permalink }}">
                <span class="button__text">{{ .PrevInSection.Title }}</span>
                <span class="button__icon">→</span>
            </a>
        </span>
        {{ end }}
    </div>
</div>
{{ end }}