{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
  <div class="pagination__title">
    <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
    <hr />
  </div>
  <div class="pagination__buttons">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}" class="button inline prev">
        &lt; [<span class="button__text">{{ .NextInSection.Title }}</span>]
      </a>
    {{ end }}
    {{ if and .NextInSection .PrevInSection }}
      ::
    {{ end }}
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}" class="button inline next">
         [<span class="button__text">{{ .PrevInSection.Title }}</span>] &gt;
      </a>
    {{ end }}
  </div>
</div>
{{ end }}
