{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
        <hr />
    </div>
    <div class="pagination__buttons">
        {{ if .NextInSection }}
        <a class="button previous" href="{{ .NextInSection.RelPermalink }}">
            <span class="button__icon">←</span>
            <span class="button__text">{{ .NextInSection.Title }}</span>
        </a>
        {{ end }}
        {{ if .PrevInSection }}
        <a class="button next" href="{{ .PrevInSection.RelPermalink }}">
            <span class="button__text">{{ .PrevInSection.Title }}</span>
            <span class="button__icon">→</span>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}